<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Dustin's Portfolio</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.6/semantic.min.css" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="/project.css" media="screen" title="no title" charset="utf-8">
  </head>
  <body>

      <div class="ui inverted menu">
        <div class="ui container">
          <a class="item" href="/projects">
            Home
          </a>
          <a href="#" class="item">
            Contact
          </a>
          <a href="#" class="item">
            Testimonials
          </a>
      </div>
    </div>
